.port {
  text-align: center;
  padding: 70px 0;
}
.btn-primary {
  display: block;
  margin-left: 580px;
  margin-right: auto;
  width: 20%;
}
.nav-link {
  text-align: center;
  font-family: "Raleway", sans-serif;
}
.heading {
  font-family: "Raleway", sans-serif;
}
#button {
  transition-duration: 0.4s;
}
#button:hover {
  background-color: #4186a1;
  color: white;
}
.btn {
  justify-content: center;
}

.hero-head {
  background-color: black;
}
.is-parent {
  background-color: black;
  margin-left: auto;
  margin-right: auto;
}
.hero-foot {
  background-color: black;
}
.responsive {
    width: 35%;
    height: auto;
  }

.container{
    background-color: black;
}
